{{ $trimmedDir := replace .Permalink ( printf "%s" .Site.BaseURL) "" }}
{{ $categories := split $trimmedDir "/" }}
{{ $total := len $categories }}

{{ $lastIndex := sub $total 1 }}
<div id="breadcrumbs-container" class="container-fluid horizontal-section-container hidden-xs clearfix">
    <div class="row">
        <div class="col-xs-12">
            <ol class="breadcrumb">

                <li><a href="/">Home</a></li>


                {{  range $i, $v := $categories }}
                    {{ if eq $i $lastIndex }}
                        <span class="breadcrumb-item active">{{ $v }}</span>
                    {{ else }}
                        {{ $firstPart := add $i 1 }}
                        {{ $subDirs := first $firstPart $categories }}
                        {{ $relUrl := delimit $subDirs "/" }}
                        <li><a href="/{{ $relUrl }}">{{ humanize $v }}</a></li>
                    {{ end }}
                {{ end }}

            </ol>
        </div>
    </div>
</div>