<!-- Jquery and Bootstrap JS -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/jquery.min.js"><\/script>')</script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<!-- Easing - for transitions and effects -->
<script src="/js/jquery.easing.1.3.js"></script>

<!-- Plugins -->
<script src="/js/detectmobilebrowser.js"></script>

<!-- Custom functions for this theme -->
<script src="/js/functions.js"></script>

<!-- <script src="js/functions-min.js"></script> -->
<script src="/js/initialise-functions.js"></script>