<!-- =========== Footer Alt =========== -->
<footer class="footer container-fluid horizontal-section-container clearfix">

    <div class="row">

        <!-- footer hor divider -->
        <div class="col-xs-12">
            <hr class="hor-divider" />
        </div>


        <div class="col-12">

            <div class="row mt-4">
                <ul class="nav-footer">
                    <li>
                        <a class="link-footer" href="/documentation/quickstart_install/">Documentation</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a class="link-footer" target="_blank" href="https://github.com/slizaa">Source Code</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a class="link-footer" target="_blank" href="https://groups.google.com/forum/#!forum/slizaa-users">Google Group</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a class="link-footer" target="_blank" href="http://stackoverflow.com/questions/tagged/slizaa">StackOverflow</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a class="link-footer" target="_blank" href="https://twitter.com/theRealSlizaa">Twitter</a>
                    </li>
                </ul>
            </div>

            <div class="row mb-2">
                <ul class="nav-footer">
                    <li>
                        <a class="link-footer" href="/impressum">Impressum</a>
                    </li>
                    <li>|</li>
                    <li>
                        <a class="link-footer" href="/impressum/datenschutz">Datenschutzerkl&auml;rung</a>
                    </li>
                    <li>|</li>
                    <li>
                        <!-- <a class="link-footer" href="/documentation/installation"-->© Gerd Wütherich 2018<!-- /a> -->
                    </li>
                </ul>
            </div>
        </div>

    </div>
</footer>