<!-- =========== Header =========== -->
<header class="clearfix">

    <div class="logo">
        <a href="/index.html"><img src="/img/slizaa-logo.svg" alt="slizaa.org" width="220"></a>
    </div>

    <div id="main-menu-container" class="clearfix">

        <div id="mobile-menu-icon" class="btn btn-outline-inverse visible-xs"><span
                class="glyphicon glyphicon-th"></span></div>

        <ul id="main-menu">

                {{ $currentPage := . }}
                {{ range .Site.Menus.main }}
                <li class='menu-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}current-menu-ancestor{{end}}'>
                    <a href="{{ .URL }}" title="{{ .Title }}">{{ .Pre }}{{ .Name }}</a>
                    {{ if .HasChildren }}
                        <ul class="sub-menu">
                        {{ range .Children }}
                            <li class="menu-item"><a {{ if gt (len (findRE "http" .URL)) 0 }}target="_blank"{{ end }} {{ printf "href=%q" .URL | safeHTMLAttr }} >{{ .Name }}</a></li>
                        {{ end }}
                        </ul>
                    {{ end }}
                </li>   
                {{ end }}
        </ul>
    </div>

</header>