<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Gerd W&uuml;therich">
    <title>{{ $.Param "title" }}</title>

    <!-- Bootstrap CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Plugins CSS -->
    <link href="/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="/css/style-theme.css" rel="stylesheet">

    <!-- loader -->
    <link href="/css/loader.css" rel="stylesheet">
    <script src="/plugins/pace/pace.min.js"></script>

    <!-- Custom Theme CSS -->
    <link href="/css/styles.css" rel="stylesheet">
    
</head>