<!DOCTYPE html>
<html>

{{ partial "head.html" . }}

<body class="background-body isolated-sections loader-bar">

<!-- Page Outer Container -->
<div class="outer-container clearfix">

    <div class="shadow">
        {{ partial "header.html" . }}
    </div>

    <!-- =========== Page Body Inside Content =========== -->
    <div class="inside-body-content-container clearfix">


        <div class="shadow">
            {{ partial "breadcrumb.html" . }}

            {{ block "main" . }}
            <div class="container-fluid horizontal-section-container clearfix">
                <div class="row">
                    <div class="col-sm-12">
                        <div id="main-page-content" class="section-container main-page-content clearfix">
                            <div class="section-content">
                                {{ block "main-single" . }}
                                <!-- single column content -->
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {{ end }}

        </div>

        <div class="shadow">
            {{ partial "footer.html" . }}
        </div>

    </div>

    {{ partial "footer-beneath.html" . }}
    {{ partial "footer-js.html" . }}

</div>

</body>

</html>