@import "colour-definition.less";
@import "partials/links.less";
@import "partials/headings.less";

header #main-menu-container #main-menu li.menu-item a {
  text-align: left;
}

body {
  font-family: 'Libre Franklin', sans-serif;
  font-size:14px;
  line-height:1.8;
}

b, strong {
  font-weight: bold;
}

p {
  margin-bottom: 0.25rem;
}

#main-content {

  padding: 20px;

  div.imageblock div.title {
    padding-bottom: 15px;
  }

  @media (min-width: 992px) {
      padding-left: 0px;
      padding-right: 25px;
  }
}

figcaption h4 {
  font-size:14px;
  padding-top: 10px;
  &:before { 
    font-weight: bold;
    content: "Figure: ";
  } 
}

figure > img {
  @media (min-width: 992px) {
    -webkit-box-shadow: 5px 5px 8px 0px rgba(100,100,100,0.6);
    -moz-box-shadow: 5px 5px 8px 0px rgba(100,100,100,0.6);
    box-shadow: 5px 5px 8px 0px rgba(100,100,100,0.6);
  }
}

.footer {
  border-radius: 20px 20px 20px 20px !important;
  font-size: 0.8rem; 
}

.nav-footer {
  width: 100%;
  text-align: center;
   
  li {
    display: inline;
    list-style-type: none;
    padding-right: 20px;
  }
}

#pages-toc {
  padding: 0px 0px 0px 0px;
  border-right: none;
  min-height: auto !important;
}

#pages-toc-box {

  background-color: #f5f5f5;
  padding: 0px 0px 20px 0px;
  margin: 10px 10px;
  font-size: 0.8rem;

  @media (min-width: 992px) {
    margin: 35px 30px;
    padding: 10px 10px 20px 10px;
  }

  strong {
    font-weight: bold;
    padding: 0px 0px 20px 0px;
  }

  ul {
    margin: 0px !important;
    list-style-type: none;
    padding-left: 10px !important;
    &.sectlevel1 {
      & > li {
        margin-top: 10px;
        & > a {
          font-weight: bold;
        }
      }
    }
  }
}

#page-toc-box {

  background-color: #f5f5f5;
  margin: 15px 0px 15px 0px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: -4px;
  padding-right: 5px;
  font-size: 0.8rem;

  ul {
    margin: 0px !important;
    list-style-type: none;
    padding-left: 7px !important;
  }
}

.pagination > li > a,
.pagination > li > span {
    color: green; // use your own color here
}

.card-columns {
    column-count: 2;
}

// .pagination > .active > a,
// .pagination > .active > a:focus,
// .pagination > .active > a:hover,
// .pagination > .active > span,
// .pagination > .active > span:focus,
// .pagination > .active > span:hover {
//     border-color: green;
// }


div#asciidoc-toc-box > ul.sectlevel0 > li >a {
  visibility: hidden;
  display: none;
}

div#main-content li p {
  margin: 0px;
  padding-bottom: 3px;
}

div.listingblock pre.highlight {
  border: none;
}

div.imageblock div.title {
  padding-top: 20px;
  padding-bottom: 0px;
}

.admonitionblock {
  border: none;
  background-color: #f5f5f5;
  margin: 20px 0px;
  padding: 10px;
}

.note {
  td.icon {
    border-right: solid thin #ccc;
    padding-left: 30px;
    padding-right: 50px;
  }

  td.content {
    padding-left: 20px;
    padding-right: 20px;

    .big  {
      font-size: large;
    }
  }
}

// asciidoc toc box




// END ASCIIDOC TOC


@media (min-width: 992px) {

  .background-body {
    background-color: @colour-12;
  }

}

.no_left_padding {
  padding-left: 0px;
}

div.title {
  font-weight: bold;
  font-style:italic;
  text-align: center;
}

img.img-responsive {
  display: block;
  margin: auto;
}

p.footer-right {
  text-align: right;
  font-size: 12px;
}

p.footer-left {
  text-align: left;
  font-size: 12px;
}

div.pull-center {
  width: 100%;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 35px;
}

div.pull-center .btn {
  margin: 0px 15px;
  color: white;
  background-color: #879595;
  border: none;
  margin: 8px;
}

.btn i {
  padding-right: 8px;
}

th.download-th {
  width: 25%;
  vertical-align: bottom;
  background-color: #fafafa;
}

th.download-th div {
  font-size: 20px;
  font-weight: normal;
}

td.download-td .btn {
  color: white;
  background-color: #879595;
  border: none;
}

li.menu-item i {
  padding-right: 8px;
}

.beneath-footer-right {
  text-align: right;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 16px;
  font-size: 12px;
}

.breadcrumb > li + li::before {
  font-family: "open_sansregular", sans-serif !important;
  color: @colour-white !important;
}

.breadcrumb > li > a {
  font-family: "open_sansregular", sans-serif !important;
  color: @colour-white !important;
}

.isolated-sections #breadcrumbs-container {
  background: @colour-logo-dark none repeat scroll 0% 0%;
}

.no-shadow {
  box-shadow: none !important;
}

h1.page_title {
  font-size: 1.8em;
}

.blog-article .title {
  font-size: 1.6em;
}

ul.blog-tag-list > li > a {
  border-radius: 5px;
}

.section-header.with-icon {
  margin-bottom: 15px;
}





