{{ define "main-single" }}


{{ range .Data.Pages.GroupByPublishDate "2006-01" }}
<h3>{{ .Key }}</h3>
<ul>
    {{ range .Pages }}
    <li>
    <a href="{{ .Permalink }}">{{ .Title }}</a>
    <div class="meta">{{ .PublishDate.Format "Mon, Jan 2, 2006" }}</div>
    </li>
    {{ end }}
</ul>
{{ end }}

{{ range .Site.Taxonomies.tags.blog }}
<div>
    <h5><a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a></h5>
    <time class="timeago" datetime='{{ .Page.Date.Format "2006-01-02T15:04:05-07:00" }}'>{{ .Page.Date }}</time>
</div>
{{ end }}

  {{ $paginator := .Paginate (where .Data.Pages "Section" .Section) 5 }}
  <div class="card-deck">
    {{ range  $paginator.Pages }}
      {{ partial "card_page_summary.html" . }}
    {{ end }}
  </div>
  {{ template "_internal/pagination.html" . }}
{{ end }}