{{ define "main" }}

<!-- =========== Section 2 =========== -->
<div class="container-fluid horizontal-section-container clearfix">

    <div class="row">

        <!-- documentation navigation -->
        <div id="pages-toc" class="col-md-3 col-lg-3">
            <div id="pages-toc-box">
                {{ partial "menu_section.html" (dict "current" . "section" .Section "title" "Latest News") }}
            </div>
        </div>

        <div id="main-content" class="col-md-9 col-lg-9">

            <div class="section-content">
                <h1>{{ .Title }}</h1>
            </div>

            <div class="section-content">
                {{ .Summary }}
            </div>

            <div class="section-content">
                {{ replace .Content .Summary "" | safeHTML }}
            </div>
        </div>

    </div>

</div>

{{ end }}