{{ define "main" }}

<!-- =========== Section 2 =========== -->
<div class="container-fluid horizontal-section-container clearfix">

    <div class="row">

        <!-- documentation navigation -->
        <div id="categories-toc"  class="col-md-2 col-lg-2">
            <div id="categories-toc-box">
            </div>
        </div>

        <div id="main-content" class="col-md-8 col-lg-8">
            <div id="main-page-content" class="section-container main-page-content clearfix">

                <div class="section-content">
                    <h1>{{ .Title }}</h1>
                </div>

                <div class="section-content">
                        {{ .Summary }}
                </div>

                <div class="section-content">
                    {{ replace .Content .Summary "" | safeHTML }}
                </div>
            </div>
        </div>

        <!-- documentation toc -->
        <div id="page-toc" class="col-md-2 col-lg-2">
            <div id="page-toc-box" > 
                {{ .TableOfContents }}
            </div>
        </div>

    </div>

</div>

{{ end }}