{{ define "main" }}

    <!-- =========== Section 2 =========== -->
    <div class="container-fluid horizontal-section-container clearfix">
        <div class="row">

            <div class="col-sm-12">
                <!-- Main Page Content -->
                <div id="main-page-content" class="section-container main-page-content clearfix">

                    <div class="section-content">

                        {{ .Content }}

                    </div><!-- .section-content -->

                </div><!-- .section-container -->
                <!-- End: Main Page Content -->
            </div><!-- .col-sm-12 -->

        </div><!-- .row -->
    </div><!-- .container-fluid -->
    <!-- End: Section 2 -->

{{ end }}