{{ define "main" }}

  <div class="container-fluid horizontal-section-container clearfix">
    <div class="row">
      <div class="col-sm-12">
        <div id="main-page-content" class="section-container main-page-content clearfix">
          <div class="section-content">
           

              {{ $paginator := .Paginate (where .Data.Pages "Section" .Section) 5 }}
              <section class="flex-ns flex-wrap justify-around mt5">
                {{ range  $paginator.Pages }}
                  <div class="relative w-100  mb4 bg-white">
                    {{ partial "blog_summary.html" . }}
                  </div>
                {{ end }}
              </section>
            {{ template "_internal/pagination.html" . }}


          </div>
        </div>
      </div>
    </div>
  </div>

{{ end }}